html{
    font-family: 'Open Sans', sans-serif;
}

li{
  list-style-type: none;
}

h2{
  margin-bottom: 3px;
}
.breadcrumb{
  margin-top: 0;
  color: #3e3e3e;
  margin-bottom: 2em;
}

.content{
  width:80%;
  margin-left: 10%;
}
.max_length{
    width: 100%%;
    height: 2em
    border-radius: 0.5em;
    position: relative;
    background: #f2f2f2;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1);
    margin-bottom: 2em;
}
.length{
  height:3px;
  background-color: red;
}
