<section>
  <ul>
    <li ng-repeat="data in datas.records">
      <h2>{{data.fields.nomarretdepart}} - {{data.fields.nomarretarrivee}} (Ligne {{data.fields.idligne}})</h2>
      <div class="element_content">
        <div class="breadcrumb">{{data.fields.libellelong}}</div>
        <div class="path_length">Longueur : {{data.fields.longueur}} mètres</div>
        <div class="max_length">
          <div class="length" style="width:{{data.fields.width}}%"></div>
        </div>
      </div>
    </li>
  </ul>
</section>
